@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
@theme {
  --deepblue: #1e3a8a;
}

.bg-deepblue {
  background-color: var(--deepblue);
}

body {
  font-family: "Inter", sans-serif;
}

.nav-list li {
  cursor: pointer;
}

.hero-text {
  font-family: "Inria Serif", serif;
}

.hero-text-p {
  font-family: "Istok Web", serif;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 1rem;
}

.feature-item p {
  width: 70%;
  text-align: center;
  font-size: larger;
  color: #404040;
}
